.number {
    text-align: right;  
}

#CampusMap {
    width: 100%;
    height: 300px; 
    /* transform: rotate(-10deg); */
    box-shadow: 10px 10px 5px gold;
}

#tabletitle {
    text-decoration: underline;
    /* font-style: italic;   */
    font-size: 24px;
}

#manager {
    width:110;
    height: 110px; 
    /* transform: rotate(-10deg); */
    box-shadow: 10px 10px 5px gold;
}

.left, .right { 
    display: inline-block;
    margin: 12px 20px 12px 10px;
    vertical-align:top;
}

.right { 
    width:auto;

  
}

.left{ 
    width:110px;
    height: 110px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    border-style: none;
    border-right: thick double gold;
    padding: 2px 4px 3px 4px;
}







a:hover {
     text-decoration:none;
     background-color:gold;
     color:#302013;
     font-family: Cursive, Arial;
}   